@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&family=Gochi+Hand&display=swap');

body {
  color: white;
  background-color: #18242e;
  font-family: 'Catamaran', sans-serif;
  font-size: 1.5rem
}

.container {
  margin: 0 auto;
}

#mi_dibujo {
  background: rgba(255, 255, 255, 0.05);
  -webkit-border-radius: 7px;
  border-radius: 7px;
  width: 500px;
  margin: auto;
  display: block;
}

h1 {
  font-family: 'Gochi Hand', cursive;
  text-align: center;
  font-size: 3rem;
  margin-top: 5%
}
p {
  text-align: center;
}

#texto_lineas, select#direcciondeldibujo, .btn-reset {
  background: rgba(255,255,255,0.05);
  outline: none;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  margin: 0 10px;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border: 1px solid rgba(255,255,255,0.05);
}

input[type=text]#texto_lineas:focus {
  border: 1px solid rgba(255,255,255,0.1);
  box-sizing: border-box;

}

select#direcciondeldibujo option, select#direcciondeldibujo optgroup {
  color: #000;
  font-size: .75rem
}

.btn-reset:hover, .btn-reset:focus {
  background: rgba(255,255,255,0.04);
}

.btn-grad {
   background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;
   border-radius: 25px;
   display: block;
   margin: 20px auto 0;
   border-color: #00c9b7 !important;
   border-style: solid !important;
   font-size: 1.25em;
   font-family: 'Gochi Hand', cursive;
   text-shadow: 2px 3px 0px rgba(0, 0, 0, 0.5);

 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
   outline: none !important;
 }
